/* Define a class for the button */
.my-button {
    /* ... (other button styles) */
    
    /* Default cursor style */
    cursor: pointer;
  }
  
  /* Change cursor style on hover */
  .my-button:hover {
    /*change color of the button*/
    -fx-background-color: rgb(224, 201, 201);
   
    cursor: hand;
    
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;


    
  }
  